<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
            <h3>Apply here</h3>
            <h6><a href="https://forms.gle/VN1mtqCxVkRRtfYd6">The application is now close.</a></h6>
            <h6>The <a href="https://colab.research.google.com/drive/1nYVb-pBKV5k2zFRoO_qrryl75jZXbBq0?usp=sharing"> diagnostic test</a> solution can be found <a href="https://colab.research.google.com/drive/1IlDHuoL5KmK6Z55SfP2RF81T3tEgp9ir?usp=sharing"> here </a></h6>
            
		</div>
	</div>
</section>
<!-- End Latest News Section -->
